/* Error: Expected expression.
 *    ,
 * 15 |     background-color: ;
 *    |                       ^
 *    '
 *   frontend\scss\components\_navbar.scss 15:23  @use
 *   frontend\scss\main.scss 14:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 15 \2502      background-color: ;\d\a    \2502                        ^\a    \2575 \a   frontend\\scss\\components\\_navbar.scss 15:23  @use\a   frontend\\scss\\main.scss 14:1                 root stylesheet";
}
