@use "breakpoints" as *;

// Font Family Variables
$font-ibm: 'IBM Plex Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

h1 {
font-family: $font-montserrat;
font-weight: $fw-bold;

    @include mobile {
        font-size: 28px;
    }

    @include tablet {
        font-size: 36px;
    }

    @include desktop {
        font-size: 48px;
    }
}

h2 {
font-family: $font-raleway;
font-weight: $fw-semibold;

    @include mobile {
        font-size: 24px;
    }

    @include tablet {
        font-size: 30px;
    }

    @include desktop {
        font-size: 36px;
    }
}

h3 {
    font-family: $font-raleway;
    font-weight: $fw-medium;

    @include mobile {
    font-size: 20px;
    }

    @include tablet {
    font-size: 24px;
    }

    @include desktop {
    font-size: 28px;
    }
}

body, p {
    font-family: $font-ibm;
    font-weight: $fw-regular;

    @include mobile {
    font-size: 16px;
    }

    @include tablet {
    font-size: 18px;
    }

    @include desktop {
    font-size: 20px;
    }                 
}

.cta {
    font-family: $font-montserrat;
    font-weight: $fw-semibold;

    @include mobile {
    font-size: 16px;
    }

    @include tablet {
    font-size: 18px;
    }

    @include desktop {
    font-size: 20px;
    }
}