@use '../base/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;
@use '../base/mixins' as *;
@use '../base/variable' as *;
@use '../components/animations' as *;

// Styles for buttons used across the site.
@mixin cta-button {
    @extend .cta;
    width: fit-content;
    height: 45px;
    color: $dark-mode-white;
    background-color: $dark-mode-primary-blue;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    align-self: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;

    @include hover-scale(1.04, -1px); // Custom scale and y-offset
    @include button-border-animation();
}