@use '../base/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;
@use '../components/animations' as *;

// Footer
.footer {
    position: relative; // Changed from top: 0
    width: 100%;
    padding: 20px 0; // Added padding top and bottom
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1001;
    flex-direction: column;
    color: $dark-mode-white;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: -1;
    }

    .socials-icons {
        .icon-img {
            @include icon-scale();
        }
    }
}

// Footer Logo
.footer-logo {
    width: 180px;
    height: 75px;
    margin: 15px;
}

// Socials Icons
.socials-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.page-links {
    display: flex;
    gap: 25px; // Matched navbar gap
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 15px;

    a {
        color: $dark-mode-white;
        text-decoration: none;
        position: relative; // Added for hover effect
        padding-bottom: 5px; // Matched navbar padding

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            background-color: $dark-mode-white;
            transition: all 0.15s ease-in-out;
            transform: translateX(-50%);
        }

        &:hover::after {
            width: 100%;
        }
    }

    .separator {
        color: $dark-mode-white;
    }
}