{% load static %}
<footer class="footer">
    <div class="footer-logo-container">
        <img class="footer-logo" src="{% static 'assets/images/navbar/PortfolioLogo.png' %}" alt="Portfolio Logo">
    </div>

    <div class="socials-icons">
        <a href="https://linkedin.com/in/am04" class="icon-img" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/images/footer/linkedin.png' %}" alt="LinkedIn">
        </a>
        <a href="https://github.com/adhenzmiranda" class="icon-img" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/images/footer/github.png' %}" alt="GitHub">
        </a>
        <a href="mailto:adhenz.miranda@gmail.com" class="icon-img">
            <img src="{% static 'assets/images/footer/email.png' %}" alt="Email">
        </a>
    </div>

    <div class="page-links">
        <a href="{% url 'home' %}">Home</a>
        <span class="separator">|</span>
        <a href="{% url 'about' %}">About</a>
        <span class="separator">|</span>
        <a href="{% url 'projects_page' %}">Projects</a>
        <span class="separator">|</span>
        <a href="{% url 'contact' %}">Contact Me</a>
        <span class="separator">|</span>
        <a href="{% static 'assets/files/CV - 3.pdf' %}" download>CV Download</a>
    </div>

    <p>&copy; 2025 Adhenz Miranda. All rights reserved.</p>
</footer>