{% load static %}
<footer class="footer">
    <div class="footer-logo-container">
        <a href="{% url 'home' %}">
            <img class="footer-logo" src="{% static 'assets/images/navbar/PortfolioLogo.png' %}" alt="Portfolio Logo">
        </a>
    </div>

    <div class="socials-icons">
        <a href="https://linkedin.com/in/am04" class="icon-img" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/images/footer/linkedin.png' %}" alt="LinkedIn">
        </a>
        <a href="https://github.com/adhenzmiranda" class="icon-img" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/images/footer/github.png' %}" alt="GitHub">
        </a>
        <a href="mailto:adhenz.miranda@gmail.com" class="icon-img">
            <img src="{% static 'assets/images/footer/email.png' %}" alt="Email">
        </a>
    </div>

    <div class="page-links">
        <a href="{% url 'home' %}">Home</a>
        <span class="separator">|</span>
        <a href="{% url 'about' %}">About</a>
        <span class="separator">|</span>
        <a href="{% url 'projects_page' %}">Projects</a>
        <span class="separator">|</span>
        <a href="{% url 'contact' %}">Contact Me</a>
        <span class="separator">|</span>
        <a href="{% static 'assets/files/CV - 3.pdf' %}" download>CV Download</a>
    </div>

    <div class="copyright">
        <p>
            &copy; {% now 'Y' %} Adhenz Miranda. All rights reserved.<br>
            Source code licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank" rel="license noopener noreferrer">MIT License</a>.
        </p>
    </div>

    <div class="powered-by">
        <p>Powered by</p>
        <a href="https://www.heroku.com" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'assets/tech-stack-used/heroku.png' %}" alt="Heroku" class="heroku-logo">
        </a>
    </div>
</footer>