{% load static %}
<div class="hero">

    <!-- Main Hero Section -->
    <div class="hero-section1">

        <div class="name-title-container">
            <div class="name">
                Adhenz Miranda
            </div>
            <div class="line"></div>
            <div class="personal-title">
                Creative Developer
            </div>
            <p class="subtext">
                Crafting <span class="bld">immersive digital experiences</span> through code, design, and security.
                <span class="bld-und">Creative
                    Developer</span> blending <span class="bld">technical expertise with artistic vision</span>— ready
                to
                bring
                your next project to life.
            </p>
            <a href="{% url 'about' %}" class="about-me-btn">
                About Me
            </a>
        </div>

        <div class="pfp-links-container">
            <div class="pfp-container">
                <img class="card-float" src="{% static 'assets/images/hero/desktop1-pfp.png' %}" alt="Profile Picture">
            </div>
            <div class="socials-icons">
                <a href="https://linkedin.com/in/am04" class="icon-img" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'assets/images/footer/linkedin.png' %}" alt="LinkedIn">
                </a>
                <a href="https://github.com/adhenzmiranda" class="icon-img" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'assets/images/footer/github.png' %}" alt="GitHub">
                </a>
                <a href="mailto:adhenz.miranda@gmail.com" class="icon-img">
                    <img src="{% static 'assets/images/footer/email.png' %}" alt="Email">
                </a>
            </div>
        </div>
    </div>

    <!-- Technology Stack Section -->
    <div class="hero-section2">
        <div class="technology-stack">
            <div class="tech-stack-title h2">
                Technology Stack
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-content">
                        <img src="{% static 'assets/images/hero/techstack1.png' %}" alt="">
                        <div class="card-title h3">Creative Multimedia</div>
                        <img src="{% static 'assets/images/hero/creativemulti.png' %}" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="{% static 'assets/images/hero/techstack2.png' %}" alt="">
                        <div class="card-title h3">Web & Application Development</div>
                        <img src="{% static 'assets/images/hero/webandapp.png' %}" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="{% static 'assets/images/hero/techstack3.png' %}" alt="">
                        <div class="card-title h3">Cybersecurity Specialization</div>
                        <img src="{% static 'assets/images/hero/cybersec.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Featured Projects Section -->

    <div class="hero-section3">
        <div class="projects-title h2">
            Featured Projects
        </div>

    </div>

    <!-- Contact Me Section -->
    <div class="hero-section4">
        <div class="contact-title h2">
            Contact
        </div>

        <p>Want to get in touch? Feel free to do so!</p>

        <a class="contact-btn" href="{% url 'contact' %}">Let's Connect!</a>
    </div>
</div>