{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Character Encoding and Viewport Settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts Import -->
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Stylesheet and Favicon -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/navbar/FaviconPortfolioLogo.png' %}">

    <!-- Dynamic Head Content Container -->
    <div id="head-container"></div>

    <!-- GSAP Animation Library -->
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            // Initialize GSAP plugins
            gsap.registerPlugin();
            // gsap code here!
        });
    </script>
    <!-- Page Title -->
    <title>AM04 | Adhenz Miranda | Home</title>
</head>

<body class="home-page">
    {% include 'navbar.html' %}
    {% include 'hero.html' %}
    {% include 'footer.html' %}

    <!-- Mobile Menu Script -->
    <script src="{% static 'js/components/navbar.js' %}"></script>
</body>

</html>