{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Character Encoding and Viewport Settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts Import -->
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Stylesheet and Favicon -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/navbar/FaviconPortfolioLogo.png' %}">

    <!-- Dynamic Head Content Container -->
    <div id="head-container"></div>

    <!-- GSAP Animation Library -->
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            // Initialize GSAP plugins
            gsap.registerPlugin();
            // gsap code here!
        });
    </script>
    <!-- Page Title -->
    <title>AM04 | Adhenz Miranda | Projects</title>
</head>

<body class="home-page">
    {% include 'navbar.html' %}

    <!-- Projects -->
    <div id="projects-container">
        <div class="project-title h1">
            Projects
        </div>
        <div class="project-subtitle">
            <p>
                Welcome to my projects page, from here you will see all my projects I have done and created by yours
                truly.
                <br><br>
                My projects are of variety and of different skills. Click on a project you’re interested in to see a
                preview and detailed process of how I go on to developing my project.
            </p>

        </div>
        <div class="project-contents">
            {% for year in sorted_years %}
            <h2 class="project-year h2">{{ year }}</h2>
            <div class="year-group">
                {% for project in projects_by_year|get_item:year %}
                <div class="project">
                    <a href="{% url 'project_detail' project.id %}" class="project-link">
                        {% if project.thumbnail_image %}
                        <div class="project-thumbnail">
                            <img src="{{ project.thumbnail_image.url }}" alt="{{ project.name }} thumbnail">
                        </div>
                        {% else %}
                        <div class="project-thumbnail placeholder">
                            <span>No Image</span>
                        </div>
                        {% endif %}
                        <h3>{{ project.name }}</h3>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>