// Styles for the website's navigation bar.
@use '../base/colors' as *;
@use '../base/breakpoints' as *;
@use '../base/typography' as *;

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1002;
    flex-direction: column;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: -1;
    }
}

.navbar-logo{
    width: 180px;
    height: 75px;
    margin: 25px;
}
.line{
    background-color: $dark-mode-white;
    width:100%;
    height: 1px;
}

.nav-menu {
    position: relative;
    width: 100%;

    .mobile-nav-btns{
        display:none;   
    }

    .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        list-style: none;
        padding: 10px;

        .nav-link {
            text-decoration: none;
            color: $dark-mode-white;
            position: relative;
            padding-bottom: 5px;
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 50%;
                background-color: $dark-mode-white;
                transition: all 0.15s ease-in-out;
                transform: translateX(-50%);
            }

            &:hover::after {
                width: 100%;
            }

            &.active::after {
                width: 100%;
            }
        }
    }
}


