// Styles for the website's navigation bar.
@use '../base/colors' as *;
@use '../base/breakpoints' as *;
@use '../base/typography' as *;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 1000;
}