<div class="hero">
    <div class="name-title-container">

    </div>

    <div class="pfp-links-container">
        <div class="pfp-container">
            <img src="frontend/assets/images/hero/desktop1-pfp.png" alt="Profile Picture">
        </div>
        <div class="socials-icons">
            <a href="https://linkedin.com/in/am04" class="icon-img" target="_blank" rel="noopener noreferrer">
                <img src="frontend\assets\images\footer\linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/adhenzmiranda" class="icon-img" target="_blank" rel="noopener noreferrer">
                <img src="frontend\assets\images\footer\github.png" alt="GitHub">
            </a>
            <a href="mailto:adhenz.miranda@gmail.com" class="icon-img">
                <img src="frontend\assets\images\footer\email.png" alt="Email">
            </a>
        </div>




    </div>