@use '../base/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;

// Layout Breakpoints for the navbar layout.
@media screen and (max-width: $mobile) {
    // Remove the checkbox logic since we're using JavaScript

    .nav-menu {
        .navbar-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            position: fixed;
            top: 75%;
            left: 50%;
            transform: translate(-50%, 50%); // Initial position (hidden)
            background-color: $dark-mode-dark-blue;
            width: 100%;
            height: 50vh;
            border-radius: 10px;
            padding-bottom: 10vh;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            pointer-events: none;
        }
    }
}