@use '../base/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;
@use '../base/mixins' as *;
@use '../base/variable' as *;
@use '../components/animations' as *;

.hero {
    padding: max(1rem, 3vw);
}

.name-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 110%;

    // Remove order since it's handled in layout
    .line {
        background-color: $dark-mode-accent-blue;
        width: 100%;
        height: 1px;
    }

    .name {
        @extend .h1;
        font-weight: 600;
        width: fit-content;
        align-self: center;
    }

    .personal-title {
        @extend .h1; // Use h3 style for smaller heading
        font-weight: $fw-regular; // Override font weight
        margin: 0.5rem 0;
        width: fit-content;
        align-self: center;

    }

    .subtext {
        @extend p; // Extend paragraph styles
        text-align: left;
        max-width: 470px;
        margin: 1rem 0;
    }

    .about-me-btn {
        @extend .cta;
        width: 165px;
        height: 45px;
        color: $dark-mode-white;
        background-color: $dark-mode-primary-blue;
        outline: none;
        box-shadow: none;
        border: none;
        border-radius: 10px;
        align-self: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease;

        @include hover-scale(1.04, -1px); // Custom scale and y-offset
        @include button-border-animation();
    }
}

.pfp-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;

    .pfp-container {
        align-self: center;
    }

    .socials-icons {
        display: flex;
        gap: 1rem;
        justify-content: center;

        .icon-img {
            display: inline-block;
            width: 32px;
            height: 32px;
            transition: transform 0.3s ease;

            @include icon-scale();

            img {
                width: 100%;
                height: 100%;
                align-self: center;
            }
        }
    }
}

.bld {
    font-weight: $fw-semibold;
    color: inherit;
}

.bld-und {
    font-weight: $fw-semibold;
    text-decoration: underline;
    color: inherit;
}

.bld-und-itl {
    font-weight: $fw-semibold;
    text-decoration: underline;
    color: inherit;
    font-style: italic;
}