@use '../base/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/colors' as *;
@use '../base/mixins' as *;
@use '../base/variable' as *;

.home-page {
    overflow-x: hidden;
    // background-color: $dark-mode-dark-blue; // Add this at the top of .home-page
    // min-height: 100vh; // This ensures the background covers the full viewport height

    .h1 {
        font-family: $font-montserrat;
        font-weight: $fw-bold;
        color: $dark-mode-white;

        @include mobile {
            font-size: 28px;
        }

        @include tablet {
            font-size: 36px;
        }

        @include desktop {
            font-size: 48px;
        }
    }

    .h2 {
        font-family: $font-raleway;
        font-weight: $fw-semibold;
        color: $dark-mode-white;

        @include mobile {
            font-size: 24px;
        }

        @include tablet {
            font-size: 30px;
        }

        @include desktop {
            font-size: 36px;
        }
    }

    .h3 {
        font-family: $font-raleway;
        font-weight: $fw-medium;
        color: $dark-mode-white;

        @include mobile {
            font-size: 20px;
        }

        @include tablet {
            font-size: 24px;
        }

        @include desktop {
            font-size: 28px;
        }
    }

    .p {
        font-family: $font-ibm;
        font-weight: $fw-regular;
        color: $dark-mode-white;

        @include mobile {
            font-size: 16px;
        }

        @include tablet {
            font-size: 18px;
        }

        @include desktop {
            font-size: 20px;
        }
    }

    .cta {
        font-family: $font-raleway;
        font-weight: $fw-semibold;
        color: $dark-mode-white;

        @include mobile {
            font-size: 24px;
        }

        @include tablet {
            font-size: 30px;
        }

        @include desktop {
            font-size: 36px;
        }
    }
}